<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Proffy | Sua plataforma de estudos online </title>
    <link rel="shortcut icon" href="/img/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/Partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <img src="./img/logo.svg" alt="Proffy">
            <h2>Sua plataforma de exercicios online</h2>
        </div>
        <img class= "heroimage" src="/img/images/landing.svg" alt="Plataforma de estudos">
         
        <div class="buttons-container">
            <a class="study" href="/study">
            <img src="./img/images/icons/study.svg" alt="Estudar">
            Estudar
            </a>
            <a class="give-classes" href="/give-classes">
                <img src="./img/images/icons/give-classes.svg" alt="Dar Aula">
                Dar Aulas
            </a>

        </div>
        <div class="totcon">
            <p class="total-conection">
                Total de 200 Conexões já realizadas
                <img src="./img/images/icons/purple-heart.svg" alt="coração roxo">
            </p>
        </div>

    </div>
</body>
</html>